<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Cadastro</title>
</head>
<body>
    <h1>Página de Cadastro</h1>
    <hr>
    <form action="{{ url_for('eventos_app.cadastrar_evento') }}" method="POST">
        <table>
 <tr>
                <td>Nome do evento:</td>
                <td><input type="text" name="nome_evento" id="nome_evento" ></td>
            </tr>
            <tr>
                <td>Descrição:</td>
                <td><input type="text" name="descricao" id="descricao" ></td>
            </tr>
            <tr>
                <td>Data de criacao:</td>
                <td><input type="text" name="data_criacao" id="data_criacao" ></td>
            </tr>
            <tr>
                <td>Data de atualizacao:</td>
                <td><input type="text" name="data_atualizacao" id="data_atualizacao" ></td>
            </tr>
            <tr>
                <td>Local do evento:</td>
                <td><input type="text" name="local_evento" id="local_evento" ></td>
            </tr>
            <tr>
                <td>Quantidade de ingressos:</td>
                <td><input type="text" name="qntd_ingresso" id="qntd_ingresso" ></td>
            </tr>
            <tr>
                <td>Preço do ingresso:</td>
                <td><input type="text" name="preco_ingresso" id="preco_ingresso" ></td>
            </tr>
            <tr>
                <td>Ingressos vendidos:</td>
                <td><input type="text" name="ingresso_vendido" id="ingresso_vendido" ></td>
            </tr>
            <tr>
                <td>Idade mínima:</td>
                <td><input type="text" name="idade_minima" id="idade_minima" ></td>
            </tr>
        </table><br>
        <input type="submit" value="Cadastrar">
    </form>
    <a href="{{ url_for('eventos_app.home') }}">Voltar</a>
</body>
</html>