<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de eventos</title>
</head>
<body>
    <h1>Cadastro de eventos</h1>
    <hr>
    <a href="{{ url_for('eventos_app.pagina_cadastro') }}">Cadastrar Eventos</a>
    <a href="{{ url_for('eventos_app.listar_eventos') }}">Lista de Eventos</a>
</body>
</html>


<!-- <!DOCTYPE html>
<html>
    <head>
        <title>Eventos</title>
    </head>
    <body>    
        <p><b>Lista de Eventos</b></p>
        <div id="eventos">
        {% for evento in eventos %}
        <li>ID: {{ evento['ident'] }}, Nome: {{ evento['nome'] }}</b></li>
        {% endfor %}
        </div>
    </body>
</html> -->